<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 10px; height: 55px">


# Capstone Project: HDB Resale Price Predictions

## Notebook 4/4: Modelling
---

## Getting Started

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from pycaret.regression import *
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

In [2]:
# Importing relevant csv files
final = pd.read_csv('../data/final.csv')

In [3]:
# Shape and head of final dataset
print(final.shape)
final.head()

(581229, 56)

,date,year,month,flat_type,block,street_name,address,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,town_bedok,town_bishan,town_bukit batok,town_bukit merah,town_bukit panjang,town_bukit timah,town_central area,town_choa chu kang,town_clementi,town_geylang,town_hougang,town_jurong east,town_jurong west,town_kallang/whampoa,town_marine parade,town_pasir ris,town_punggol,town_queenstown,town_sembawang,town_sengkang,town_serangoon,town_tampines,town_toa payoh,town_woodlands,town_yishun,storey_cat,mrt,mrt_dist,num_mrt_1km,mall,mall_dist,num_mall_1km,supermarket,supermarket_dist,num_supermarket_1km,hawker_dist,num_hawker_1km,park_dist,num_park_1km,school,school_dist,num_school_1km,number_school_btw_1km_2km,cityhall_dist
0,2000-01-01,2000,1,1,170,ANG MO KIO AVE 4,170 ANG MO KIO AVE 4,69.0,1,1986,14.0,147000.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,MAYFLOWER MRT STATION,0.151573,1,Broadway Plaza,1.083526,0,560161,3.474260e-01,5,0.313910,5,0.306142,11,569948,0.247264,3,4,9.107076
1,2000-01-01,2000,1,1,174,ANG MO KIO AVE 4,174 ANG MO KIO AVE 4,61.0,1,1986,14.0,144000.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,MAYFLOWER MRT STATION,0.237776,1,Broadway Plaza,0.990745,1,560161,2.382910e-01,5,0.189372,4,0.340958,11,569948,0.232789,3,4,9.202219
2,2000-01-01,2000,1,1,216,ANG MO KIO AVE 1,216 ANG MO KIO AVE 1,73.0,1,1976,24.0,159000.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,MAYFLOWER MRT STATION,0.881327,3,Broadway Plaza,0.804709,3,560215,5.038021e-02,9,0.207364,5,0.752762,4,569920,0.341979,1,8,8.161709
3,2000-01-01,2000,1,1,215,ANG MO KIO AVE 1,215 ANG MO KIO AVE 1,73.0,1,1976,24.0,167000.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,MAYFLOWER MRT STATION,0.875881,2,Broadway Plaza,0.755579,3,560215,8.185305e-07,9,0.227171,5,0.734493,3,569920,0.342322,1,8,8.188099
4,2000-01-01,2000,1,1,218,ANG MO KIO AVE 1,218 ANG MO KIO AVE 1,67.0,1,1976,24.0,163000.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,BRIGHT HILL MRT STATION,0.957857,2,AMK Hub,0.885895,2,560215,1.518390e-01,9,0.307044,4,0.739071,4,569920,0.456619,1,7,8.039989

In [4]:
# Dropping columns in preparation for modelling
final = final.drop(['date', 'block', 'street_name', 'address', 'mrt', 'mall', 'supermarket','school'], axis = 1)

In [5]:
# Last check on dataset
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 581229 entries, 0 to 581228
Data columns (total 48 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   year                       581229 non-null  int64
 1   month                      581229 non-null  int64
 2   flat_type                  581229 non-null  int64
 3   floor_area_sqm             581229 non-null  float64
 4   flat_model                 581229 non-null  int64
 5   lease_commence_date        581229 non-null  int64
 6   remaining_lease            581229 non-null  float64
 7   resale_price               581229 non-null  float64
 8   town_bedok                 581229 non-null  int64
 9   town_bishan                581229 non-null  int64
 10  town_bukit batok           581229 non-null  int64
 11  town_bukit merah           581229 non-null  int64
 12  town_bukit panjang         581229 non-null  int64
 13  town_bukit timah           581229 non-null  int64
 14  town_central area          581229 non-null  int64
 15  town_choa chu kang         581229 non-null  int64
 16  town_clementi              581229 non-null  int64
 17  town_geylang               581229 non-null  int64
 18  town_hougang               581229 non-null  int64
 19  town_jurong east           581229 non-null  int64
 20  town_jurong west           581229 non-null  int64
 21  town_kallang/whampoa       581229 non-null  int64
 22  town_marine parade         581229 non-null  int64
 23  town_pasir ris             581229 non-null  int64
 24  town_punggol               581229 non-null  int64
 25  town_queenstown            581229 non-null  int64
 26  town_sembawang             581229 non-null  int64
 27  town_sengkang              581229 non-null  int64
 28  town_serangoon             581229 non-null  int64
 29  town_tampines              581229 non-null  int64
 30  town_toa payoh             581229 non-null  int64
 31  town_woodlands             581229 non-null  int64
 32  town_yishun                581229 non-null  int64
 33  storey_cat                 581229 non-null  int64
 34  mrt_dist                   581229 non-null  float64
 35  num_mrt_1km                581229 non-null  int64
 36  mall_dist                  581229 non-null  float64
 37  num_mall_1km               581229 non-null  int64
 38  supermarket_dist           581229 non-null  float64
 39  num_supermarket_1km        581229 non-null  int64
 40  hawker_dist                581229 non-null  float64
 41  num_hawker_1km             581229 non-null  int64
 42  park_dist                  581229 non-null  float64
 43  num_park_1km               581229 non-null  int64
 44  school_dist                581229 non-null  float64
 45  num_school_1km             581229 non-null  int64
 46  number_school_btw_1km_2km  581229 non-null  int64
 47  cityhall_dist              581229 non-null  float64
dtypes: float64(10), int64(38)
memory usage: 212.9 MB

---
## Baseline Model

We will start by creating a basic baseline model to compare our results against. One of the simpler models we can use for this would be Linear Regression.

### Train-Test Split

In [6]:
# Creating list of all feature columns in dataset
features = [col for col in final.columns if col != 'resale_price']
len(features)

47

In [7]:
# Assigning X (feature matrix) and Y (response vector)
X = final[features]
y = final['resale_price']

In [8]:
# Split our dataset into train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

In [9]:
# Looking at the shapes of the training and test data
print(X.shape)
print(X_train.shape)
print(X_test.shape)
print('')
print(y.shape)
print(y_train.shape)
print(y_test.shape)

(581229, 47)
(523106, 47)
(58123, 47)

(581229,)
(523106,)
(58123,)

### Scaling and Instantiating Model

In [10]:
# Scaling the data
ss = StandardScaler()
X_train_sc = ss.fit_transform(X_train)
X_test_sc = ss.transform(X_test)

In [11]:
# Instantiate Linear Regression
lr = LinearRegression()

### Linear Regression Model

In [16]:
# Cross Validation
print("R2 of LR:", cross_val_score(lr, X_train, y_train, cv=5).mean())
print("RSME of LR:", -cross_val_score(lr, X_train, y_train,cv=5, scoring='neg_root_mean_squared_error').mean())

R2 of LR: 0.8329561229750919
RSME of LR: 62749.5834813807

In [13]:
# Fitting LR instantiated model
lr.fit(X_train, y_train)

LinearRegression()

In [14]:
# Scoring fit model on training and testing set
print('Training R2 of LR: ', lr.score(X_train, y_train))
print('Testing R2 of LR: ', lr.score(X_test, y_test))

Training R2 of LR:  0.8330005966593647
Testing R2 of LR:  0.8337901548296898

In [15]:
# RSME of model for training and testing set
print("Training RMSE of LR:", np.sqrt(mean_squared_error(y_train, lr.predict(X_train))))
print("Testing RMSE of LR:", np.sqrt(mean_squared_error(y_test, lr.predict(X_test))))

Training RMSE of LR: 62742.25930638633
Testing RMSE of LR: 62480.07511531172

For a baseline model, the R2 scores are consistent at around 0.83 and are already quite high. RSME is around the 62k mark, we should aim to reduce this in our modelling below. The consistency of both metrics also show that our model was not overfitted.

---
## Modelling with PyCaret

[PyCaret](https://pycaret.gitbook.io/docs/) is an open-source, low-code machine learning library in Python that automates machine learning workflows. We will be using its features to streamline and enhance our modelling process.

Notes on Setup:
- Dataset is normalized with z-score (Same as StandardScaler)
- Target variable is also transformed using box-cox so that it closely resembles a normal distribution
- Polynomial features will be created
- The threshold for automated feature selection will be lowered as advised from documentation

In [18]:
# Setting up Environment in PyCaret
s = setup(data = final, 
          target = 'resale_price',
          train_size=0.9,
          normalize=True,
          transformation = True, 
          transform_target = True,
          remove_multicollinearity = True, 
          polynomial_features=True,
          ignore_low_variance=True,
          feature_selection=True,
          feature_selection_threshold=0.5,
          use_gpu=True,
          n_jobs=-1,
          silent=True,
          session_id = 123
          )

In [ ]:
# Comparing all models
best_model = compare_models(sort = 'RMSE')

The models' scores are sorted by their Root Mean Squared Errors (RMSE). For the RSME, the errors are squared before they are averaged, giving a relatively high weight to large errors. This results in the RMSE being useful when large errors are particularly undesirable. It is also measured in the same units as our target variable.

Comparing the current Linear Regression model's scores with our baseline model, our R2 score has increased by 0.02 and RSME has decreased by 3k. It shows that our PyCaret environment has been useful in improving the accuracy of our predictions.

The RSMEs for Extra Trees and Random Forest Regressors are the best at around 21k. Same for the R2 scores, which are around 0.98. These scores are more than ideal, but take up the bulk of the processing time for the `compare_models` function. (Took around >100 times the amount of time compared to our 3rd highest scoring model, `lightgbm`)

---

## Predictions on Unseen Data

Next, let us test out a few selected models on our holdout set.

### Extra Trees Regressor (Best Model)

In [24]:
# Creating model
model = create_model('et')

In [25]:
# Scores of predictions
predict_model(model)

,num_mall_1km_2,num_school_1km_6,num_mrt_1km_2,num_mrt_1km_9,num_mall_1km_6,number_school_btw_1km_2km_8,num_school_1km_5,month_2,num_mrt_1km_5,month_10,...,num_school_1km_3,num_mrt_1km_7,flat_type_3,num_park_1km_2,mrt_dist,month_1,num_mrt_1km_6,hawker_dist,resale_price,Label
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.118456,0.0,0.0,-1.094747,219500.0,214171.012169
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-0.357491,0.0,0.0,-1.189315,340000.0,362862.482190
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.825242,0.0,0.0,-1.319504,150000.0,158444.340646
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.528365,0.0,0.0,-0.362267,500000.0,509734.724461
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.917783,1.0,0.0,-1.013772,228000.0,209681.115173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58118,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.233519,0.0,0.0,0.304994,446000.0,487661.404425
58119,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-0.739797,0.0,0.0,-1.610684,200000.0,201336.887234
58120,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-0.299616,0.0,0.0,-1.054239,500000.0,663957.689214
58121,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-0.525884,1.0,0.0,-0.458900,265000.0,249302.470571
58122,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,-1.063171,0.0,0.0,0.689713,285000.0,262362.761111

### Huber Regressor (Robust to Outliers)

In [26]:
# Creating model
model_1 = create_model('huber')

In [27]:
predict_model(model_1)

,num_mall_1km_2,num_school_1km_6,num_mrt_1km_2,num_mrt_1km_9,num_mall_1km_6,number_school_btw_1km_2km_8,num_school_1km_5,month_2,num_mrt_1km_5,month_10,...,num_school_1km_3,num_mrt_1km_7,flat_type_3,num_park_1km_2,mrt_dist,month_1,num_mrt_1km_6,hawker_dist,resale_price,Label
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.118456,0.0,0.0,-1.094747,219500.0,261619.942470
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-0.357491,0.0,0.0,-1.189315,340000.0,314688.554296
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.825242,0.0,0.0,-1.319504,150000.0,164035.764686
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.528365,0.0,0.0,-0.362267,500000.0,491762.932786
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.917783,1.0,0.0,-1.013772,228000.0,155775.486678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58118,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.233519,0.0,0.0,0.304994,446000.0,494513.747361
58119,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-0.739797,0.0,0.0,-1.610684,200000.0,235569.721710
58120,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-0.299616,0.0,0.0,-1.054239,500000.0,596666.507155
58121,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-0.525884,1.0,0.0,-0.458900,265000.0,227703.207058
58122,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,-1.063171,0.0,0.0,0.689713,285000.0,319491.045631

### Gradient Boosting Regressor (To Compare with LightGBM)

In [28]:
# Creating model
model_2 = create_model('gbr')

In [29]:
predict_model(model_2)

,num_mall_1km_2,num_school_1km_6,num_mrt_1km_2,num_mrt_1km_9,num_mall_1km_6,number_school_btw_1km_2km_8,num_school_1km_5,month_2,num_mrt_1km_5,month_10,...,num_school_1km_3,num_mrt_1km_7,flat_type_3,num_park_1km_2,mrt_dist,month_1,num_mrt_1km_6,hawker_dist,resale_price,Label
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.118456,0.0,0.0,-1.094747,219500.0,228729.452516
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-0.357491,0.0,0.0,-1.189315,340000.0,381975.296592
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.825242,0.0,0.0,-1.319504,150000.0,164722.741852
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.528365,0.0,0.0,-0.362267,500000.0,479456.608698
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.917783,1.0,0.0,-1.013772,228000.0,195389.391415
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58118,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.233519,0.0,0.0,0.304994,446000.0,486032.436141
58119,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-0.739797,0.0,0.0,-1.610684,200000.0,222667.633843
58120,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-0.299616,0.0,0.0,-1.054239,500000.0,548068.365966
58121,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-0.525884,1.0,0.0,-0.458900,265000.0,243513.665873
58122,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,-1.063171,0.0,0.0,0.689713,285000.0,286747.344597

### LightGBM (Low Processing Power Required + Accurate)

In [25]:
# Creating model
model_3 = create_model('lightgbm')

In [26]:
predict_model(model_3)

,num_supermarket_1km_8,num_mall_1km_0,num_hawker_1km_6,town_woodlands,num_school_1km_8,num_hawker_1km_4,num_park_1km_5,num_park_1km_0,num_park_1km_10,num_school_1km_4,...,park_dist,number_school_btw_1km_2km_14,num_school_1km_6,month_3,num_mrt_1km_1,num_supermarket_1km_9,num_hawker_1km_9,remaining_lease,resale_price,Label
0,1.0,1.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.553264,0.0,0.0,1.0,1.0,0.0,0.0,-0.041455,219500.0,226074.955796
1,0.0,0.0,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,...,-0.190660,0.0,0.0,0.0,0.0,0.0,0.0,0.532198,340000.0,387939.113684
2,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.099870,0.0,0.0,0.0,0.0,1.0,0.0,-0.096066,150000.0,168953.255114
3,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.863650,0.0,0.0,0.0,1.0,0.0,0.0,1.350660,500000.0,506563.499863
4,0.0,1.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.297112,0.0,0.0,0.0,1.0,0.0,0.0,-0.152193,228000.0,202670.105422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58118,1.0,0.0,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.861987,0.0,0.0,0.0,0.0,0.0,0.0,-1.020338,446000.0,511093.575873
58119,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.607025,0.0,1.0,0.0,1.0,0.0,0.0,-1.508133,200000.0,218112.719304
58120,0.0,0.0,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.509191,0.0,0.0,0.0,0.0,1.0,0.0,1.408893,500000.0,597261.383923
58121,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.773044,0.0,0.0,0.0,0.0,0.0,0.0,-0.269002,265000.0,247630.745630
58122,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.570694,0.0,0.0,0.0,1.0,0.0,0.0,-0.797113,285000.0,274784.797209

Overall scores across all our models are consistent, showing that our models were not underfitted/overfitted. Extra Trees Regressor is still the most accurate, but is not appropriate for future deployment because of its long processing time. Both GBR and LightGBM are gradient boosted regressors, but LightGBM is better in almost every way. Significantly shorter processing time, R2 score higher by 0.03, and a ~25% lower RSME. LightGBM is also the most efficient model (Best score to time ratio)

Looking at all the above considerations, LightGBM was chosen as our final model.

---
## Tuning Chosen Model

We will now use the `tune_model` function to automatically tune the hyperparameters of our model using pre-defined grids. We will also using Optuna, an automatic hyperparameter optimization software framework, to significantly reduce the size of the hyperparameter space to be explored.

In [27]:
# Model tuning
tuned_lightgbm = tune_model(model_3, optimize='RMSE',
                   tuner_verbose=False, search_library='optuna')

After tuning, our RSME has dropped by another ~8k, and R2 score has increased by 1.6%. These scores are similar to our initial Extra Trees Regressor model.

In [28]:
# Saving tuned model
save_model(tuned_lightgbm,'Tuned LightGBM')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=False, features_todrop=[],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[],
                                       target='resale_price',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_st...
                                                                          min_child_samples=29,
                                                                          min_child_weight=0.001,
                                                                          min_split_gain=0.04338863566943285,
                                                                          n_estimators=136,
                                                                          n_jobs=-1,
                                                                          num_leaves=105,
                                                                          objective=None,
                                                                          random_state=123,
                                                                          reg_alpha=0.0909115983472357,
                                                                          reg_lambda=2.0711552153171664,
                                                                          silent='warn',
                                                                          subsample=1.0,
                                                                          subsample_for_bin=200000,
                                                                          subsample_freq=0),
                                                  silent='warn', subsample=1.0,
                                                  subsample_for_bin=200000,
                                                  subsample_freq=0)]],
          verbose=False),
 'Tuned LightGBM.pkl')

### Blending Models

Lets test if combining LightGBM with another model will help improve accuracy. Decision Trees was chosen as it is also a high scoring model with low processing time.

In [29]:
# Creating models
dt = create_model('dt', verbose = False)
lightgbm = create_model('lightgbm', verbose = False)

In [31]:
# Blending models
blend_model = blend_models(estimator_list=[dt, lightgbm],
                           choose_better=True,
                           optimize='RMSE')

In [32]:
# Tuning blended model
blend_model = tune_model(blend_model, optimize='RMSE', tuner_verbose=False)

Scores for the blended model are lower than our Tuned LightGBM model. We will therefore stick with the Tuned LightGBM model as our final model.

---
## Model Evaluation

In [34]:
evaluate_model(tuned_lightgbm)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [41]:
interpret_model(tuned_lightgbm, save=True)

findfont: Font family ['sans-serif'] not found. Falling back to DejaVu Sans.
findfont: Generic family 'sans-serif' not found because none of the following families were found: Arial, Liberation Sans, Bitstream Vera Sans, sans-serif

![shap](../plots/SHAP%20summary.png)

In [37]:
plot_model(tuned_lightgbm, plot = 'feature', save=True)

'Feature Importance.png'

![some](../plots/Feature%20Importance.png)

In [38]:
plot_model(tuned_lightgbm, plot = 'feature_all', save=True)

'Feature Importance (All).png'

![all](../plots/Feature%20Importance%20(All).png)

### Finalising Model

In [42]:
# Creating final model
final_lightgbm = finalize_model(tuned_lightgbm)

[LightGBM] [Warning] bagging_fraction is set=0.9330658358172711, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9330658358172711
[LightGBM] [Warning] feature_fraction is set=0.8559242193431933, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.8559242193431933
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4
[LightGBM] [Warning] bagging_fraction is set=0.9330658358172711, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9330658358172711
[LightGBM] [Warning] feature_fraction is set=0.8559242193431933, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.8559242193431933
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4
[LightGBM] [Warning] bagging_fraction is set=0.9330658358172711, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9330658358172711
[LightGBM] [Warning] feature_fraction is set=0.8559242193431933, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.8559242193431933
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4
[LightGBM] [Warning] bagging_fraction is set=0.9330658358172711, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9330658358172711
[LightGBM] [Warning] feature_fraction is set=0.8559242193431933, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.8559242193431933
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4
[LightGBM] [Warning] bagging_fraction is set=0.9330658358172711, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9330658358172711
[LightGBM] [Warning] feature_fraction is set=0.8559242193431933, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.8559242193431933
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4
[LightGBM] [Warning] bagging_fraction is set=0.9330658358172711, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9330658358172711
[LightGBM] [Warning] feature_fraction is set=0.8559242193431933, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.8559242193431933
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4
[LightGBM] [Warning] bagging_fraction is set=0.9330658358172711, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9330658358172711
[LightGBM] [Warning] feature_fraction is set=0.8559242193431933, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.8559242193431933
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4
[LightGBM] [Warning] bagging_fraction is set=0.9330658358172711, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9330658358172711
[LightGBM] [Warning] feature_fraction is set=0.8559242193431933, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.8559242193431933
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4
[LightGBM] [Warning] bagging_fraction is set=0.9330658358172711, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9330658358172711
[LightGBM] [Warning] feature_fraction is set=0.8559242193431933, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.8559242193431933
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4
[LightGBM] [Warning] bagging_fraction is set=0.9330658358172711, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9330658358172711
[LightGBM] [Warning] feature_fraction is set=0.8559242193431933, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.8559242193431933
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4

In [43]:
# Scoring final model
predict_model(final_lightgbm)

,num_supermarket_1km_8,num_mall_1km_0,num_hawker_1km_6,town_woodlands,num_school_1km_8,num_hawker_1km_4,num_park_1km_5,num_park_1km_0,num_park_1km_10,num_school_1km_4,...,park_dist,number_school_btw_1km_2km_14,num_school_1km_6,month_3,num_mrt_1km_1,num_supermarket_1km_9,num_hawker_1km_9,remaining_lease,resale_price,Label
0,1.0,1.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.553264,0.0,0.0,1.0,1.0,0.0,0.0,-0.041455,219500.0,221890.540403
1,0.0,0.0,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,...,-0.190660,0.0,0.0,0.0,0.0,0.0,0.0,0.532198,340000.0,370725.684880
2,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.099870,0.0,0.0,0.0,0.0,1.0,0.0,-0.096066,150000.0,161601.235643
3,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.863650,0.0,0.0,0.0,1.0,0.0,0.0,1.350660,500000.0,529018.428661
4,0.0,1.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.297112,0.0,0.0,0.0,1.0,0.0,0.0,-0.152193,228000.0,215498.535784
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58118,1.0,0.0,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.861987,0.0,0.0,0.0,0.0,0.0,0.0,-1.020338,446000.0,446035.820303
58119,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.607025,0.0,1.0,0.0,1.0,0.0,0.0,-1.508133,200000.0,204288.544013
58120,0.0,0.0,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.509191,0.0,0.0,0.0,0.0,1.0,0.0,1.408893,500000.0,623360.661868
58121,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.773044,0.0,0.0,0.0,0.0,0.0,0.0,-0.269002,265000.0,249616.238744
58122,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.570694,0.0,0.0,0.0,1.0,0.0,0.0,-0.797113,285000.0,262589.895924

In [44]:
# Saving final model
save_model(final_lightgbm,'Final LightGBM Model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=False, features_todrop=[],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[],
                                       target='resale_price',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_st...
                                                                          min_child_samples=29,
                                                                          min_child_weight=0.001,
                                                                          min_split_gain=0.04338863566943285,
                                                                          n_estimators=136,
                                                                          n_jobs=-1,
                                                                          num_leaves=105,
                                                                          objective=None,
                                                                          random_state=123,
                                                                          reg_alpha=0.0909115983472357,
                                                                          reg_lambda=2.0711552153171664,
                                                                          silent='warn',
                                                                          subsample=1.0,
                                                                          subsample_for_bin=200000,
                                                                          subsample_freq=0),
                                                  silent='warn', subsample=1.0,
                                                  subsample_for_bin=200000,
                                                  subsample_freq=0)]],
          verbose=False),
 'Final LightGBM Model.pkl')

---
## Conclusion

We managed to create a model that has a significantly lower RSME when compared to our baseline. The final RSME is 20,727, which is less than 4% of the current mean resale price of ~$550k. We can also conclude that the features we engineered have a statistically significant relationship with resale flat prices, and were useful in improving the accuracy of our models. Our model should be able to detect undervalued and overvalued flats, and should be able to give a good estimate of COVs.

Moving forward, I will aim to deploy the trained model in a web-based application like Streamlit. I also plan to test this model further on future data. HDB updates the dataset very frequently, making this plan very feasible.

## Limitations

There are other factors that will influence resale flat prices and COVs like the condition of flats and the directions they are facing. Flats with extensive renovations and furnishings or flats which are well maintained tend to fetch a higher price. Flats that are North/South facing have generally higher demand compared to those facing East/West because of heat and glare of the Sun. Our inability to take these factors into account might ultimately affect our model's accuracy.

A key consideration in this project was whether I should select the most accurate or efficient model. Processing power was a big concern; I only managed to train all the models with the help of AWS Sagemaker Studio. I only ended up choosing the most efficient model, LightGBM, because of its high potential in deployability. This decision might have led to a notable tradeoff in prediction accuracy.

Euclidean distance was also used instead of travel time. This may not be the most accurate unit because euclidean distance from a location is not perfectly correlated with the time taken to get there. This could have been improved by using a paid API (e.g. Google Maps API) to further understand the relationship between distance and travel times between two locations.

---